{
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {
            "targets": {
                "ie": "11",
                "edge": "14",
                "safari": "10",
                "firefox": "50",
                "chrome": "49",
                "opera": "38"
            }
        }]
    ]
}